.inner-container {
    width: 90%;
    max-width: 1000px;
    height: 250px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    justify-self: center;
    padding-top: 24px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  /* Small devices (phones) */
  @media (max-width: 576px) {
    .inner-container {
      width: 60%;
      height: 250px;
      padding-top: 16px;
    }
  
    .centered-text {
      font-size: 18px;
    }
  }
  
  /* Medium devices (tablets) */
  @media (min-width: 577px) and (max-width: 768px) {
    .inner-container {
      width: 75%;
      height: 220px;
      padding-top: 20px;
    }
  
    .centered-text {
      font-size: 20px;
    }
  }
  
  /* Large devices (small laptops) */
  @media (min-width: 769px) and (max-width: 992px) {
    .inner-container {
      width: 80%;
      height: 250px;
    }
  
    .centered-text {
      font-size: 22px;
    }
  }
  
  /* Extra large (desktop and up) */
  @media (min-width: 993px) {
    .inner-container {
      width: 900px;
      height: 400px;
    }
  
    .centered-text {
      font-size: 24px;
    }
  }
 
  
.twoColumns {
    display: grid;
    grid-template-columns: repeat(2, auto); /* 3 columns */
    justify-content: center;
    gap: 20px;
    font-size: small;
    margin-bottom: 5%;
}  
  
.threeColumns {
  display: grid;
  grid-template-columns: repeat(3, auto); /* 3 columns */
  justify-content: center;
  gap: 10px;
  font-size: small;
  margin-bottom: 5%;
}

